table {
  table-layout: fixed;
}

td:first-child{
  padding-left: 15px !important;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

footer {
  margin-top: 50px;
  line-height: 4;
  text-align: center;
  background-color: #363636;
  color: white;
}

i.fa {
  vertical-align: middle;
}